.chip-input-container {
    display: flex;
}

.custom-input {
    height: 40px;
    width: 300px;
    border: none;
    border-bottom: 2px solid lightgray;
    transition: border 300ms;
}

.custom-input:focus{
    outline: none;
}

.chip-container{
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgray;
    transition: border 300ms;
}

.chip-item {
    background: #efefef;
    color: black;
    padding: 2px 5px;
    border-radius: 13px;
    margin-right: 4px;
    transition: box-shadow 200ms, background-color 300ms;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.chip-item:hover{
    -webkit-box-shadow: 0px 1px 5px 1px #dad8d8; 
    box-shadow: 0px 1px 5px 1px #dad8d8;
}

.search-dropdown {
    width: 280px;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    margin-top: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}

.input-container {
    position: relative;
}

.search-option {
    text-align: center;
    padding: 10px 1px;
    font-size: 14px;
    font-weight: 100;
    transition: background-color 50ms;
}

.search-option:hover {
    background-color: #efefef;
}

.remove-icon{
    margin-left: 5px;
}

.remove-icon>mat-icon {
    margin-top: 2px;
    color: gray;
    width: 20px;
    height: 20px;
    font-size: 20px;
}