<nav class = "nd-nav-bar">
    <div class = "logo no-select">
        LOGO
    </div>

    <div *ngIf="smallSize();else desktopView" class="no-select pointer" (click)="toggle('mobile')">
        <mat-icon class="mobile-icon">menu</mat-icon>
    </div>

    <div class="shadow" *ngIf="smallSize() && showDropDown" [style.height.px] = "innerHeight"></div>
    <div class="nd-mobile-nav" *ngIf="smallSize() && showDropDown" [@inOutAnimation] [style.height.px] = "innerHeight">
        
        <div class="x-button pointer no-select" (click)="toggle('mobile')">
            <mat-icon>close</mat-icon>
        </div>
        
        <div class="mobile-link">
            <button *ngFor="let navItem of navItems;index as i" [ngClass]="{'mobile-nd-active-link': navItem.selectedLink === true}" mat-raised-button [id] = "'nav-mobile-link-' + i" class="no-select pointer" (click)="selectLink('nav-mobile-link-' + i, 'mobile')">
                <mat-icon class="link-icon yellow-icon">{{navItem.icon}}</mat-icon>
                <span class="mobile-span">{{navItem.text}}</span> 
            </button>
        </div>

    </div>

    <ng-template #desktopView>

        <div class="top-right-actions">
            <mat-icon class="link-icon yellow-icon top-right-icon pointer no-select">fullscreen</mat-icon>
        </div>
    </ng-template>

</nav>

<div class="desktop-side-bar" #desktopSideBar *ngIf="!smallSize()">
    <div *ngFor="let navItem of navItems;index as i" style="width: 100%;">
        <button mat-raised-button class="nav-button" [id] = "'nav-link-' + i" [ngClass]="{'nd-active-link': navItem.selectedLink === true, 'first-item': i === 0}" (click)="selectLink('nav-link-' + i)">
            <mat-icon class="yellow-icon side-bar-icon">{{navItem.icon}}</mat-icon>
            <span class="mobile-span">{{navItem.text}}</span>
        </button>
        <!-- <div class="delimiter"></div> -->
    </div>
    <button mat-raised-button class="back-button" (click)="toggle('desktop')">
        <mat-icon *ngIf="showDropDown">chevron_left</mat-icon>
        <mat-icon *ngIf="!showDropDown">chevron_right</mat-icon>
    </button>
</div>